.ipynb_checkpoints
baby-python
just-a-loop
just-functional
.baby-python-history
commands.txt
data.int32
__pycache__
make-talk/main.aux
make-talk/main.log
make-talk/main.nav
make-talk/main.out
make-talk/main.pdf
make-talk/main.snm
make-talk/main.toc
make-talk/main.vrb
make-talk/_minted-main
example.c
example.o
libexample.so
